<div class="container" style="padding: 10% 0% 10% 0%">
    <div class="form-group col-3 bg-dark p-3">
    <form id='filter_people' action='' method=''>
        <label>Filter by Class:</label>
        <select name="classID" id="filter-by-select">
                    {{#each class}}
                    <option value={{this.cID}}>{{this.name}}</option>
                    {{/each}}
                    </select>
                    <input type="button" value="Filter" onclick="filterByClass()">
      </form>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Class</th>
            <th scope="col">Professor</th>
	        <th scope="col">Drop Class</th>
        </tr>
        </thead>
        <tbody>
            {{#each student_class}}
            <tr>
                <td>{{fname}}</td>
                <td>{{lname}}</td>
                <td>{{cName}}</td>
                <td>{{professor}}</td>
                <td><button>Drop</button></td>
            </tr>
            {{/each}}        
        </tbody>
    </table>
</div>
